@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #E8E8E8;
  background: #0F0F0F;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0F0F0F;
}
::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
